[submodule "libs/PyPythia"]
	path = libs/PyPythia
	url = https://github.com/tschuelia/PyPythia.git
[submodule "libs/RAxMLGroveScripts"]
	path = libs/RAxMLGroveScripts
	url = https://github.com/angtft/RAxMLGroveScripts.git
